.LICENSE-ALLOS
.LICENSE-ALLOS-US
.LICENSE-DESKTOP
.LICENSE-DESKTOP-US
.LICENSE-EMBEDDED
.LICENSE-EMBEDDED-US
.LICENSE-EVALUATION
.LICENSE-EVALUATION-US
.qmake.cache
.tag
INSTALL
LGPL_EXCEPTION.txt
LICENSE.FDL
LICENSE.GPL3
LICENSE.LGPL
Makefile
README
bin/
changes-4.7.0
config.status
config.tests/
configure
configure.exe
demos/
doc/
examples/
imports/
include/
lib/
mkspecs/
plugins/
projects.pro
qmake/
src/3rdparty/
src/Makefile
src/activeqt/
src/corelib/
src/dbus/
src/declarative/
src/gui/.moc/
src/gui/.obj/
src/gui/.pch/
src/gui/.rcc/
src/gui/.uic/
src/gui/Makefile
src/gui/QtGui.dynlist
src/gui/accessible/
src/gui/animation/
src/gui/dialogs/
src/gui/effects/
src/gui/egl/
src/gui/graphicsview/
src/gui/gui.pro
src/gui/image/
src/gui/inputmethod/
src/gui/itemviews/
src/gui/kernel/
src/gui/mac/
src/gui/math3d/
src/gui/painting/
src/gui/s60framework/
src/gui/statemachine/
src/gui/styles/
src/gui/symbian/
src/gui/text/
src/gui/util/
src/gui/widgets/
src/imports/
src/multimedia/
src/network/.moc/
src/network/.obj/
src/network/.pch/
src/network/Makefile
src/network/access/
src/network/bearer/
src/network/kernel/
src/network/network.pro
src/network/socket/qabstractsocketengine.cpp
src/network/socket/qabstractsocketengine_p.h
src/network/socket/qhttpsocketengine.cpp
src/network/socket/qhttpsocketengine_p.h
src/network/socket/qlocalserver.cpp
src/network/socket/qlocalserver.h
src/network/socket/qlocalserver_p.h
src/network/socket/qlocalserver_tcp.cpp
src/network/socket/qlocalserver_unix.cpp
src/network/socket/qlocalserver_win.cpp
src/network/socket/qlocalsocket.cpp
src/network/socket/qlocalsocket.h
src/network/socket/qlocalsocket_p.h
src/network/socket/qlocalsocket_tcp.cpp
src/network/socket/qlocalsocket_unix.cpp
src/network/socket/qlocalsocket_win.cpp
src/network/socket/qnativesocketengine.cpp
src/network/socket/qnativesocketengine_p.h
src/network/socket/qnativesocketengine_unix.cpp
src/network/socket/qnativesocketengine_win.cpp
src/network/socket/qnet_unix_p.h
src/network/socket/qsocks5socketengine.cpp
src/network/socket/qsocks5socketengine_p.h
src/network/socket/qtcpserver.cpp
src/network/socket/qtcpserver.h
src/network/socket/qtcpsocket.cpp
src/network/socket/qtcpsocket.h
src/network/socket/qtcpsocket_p.h
src/network/socket/qudpsocket.cpp
src/network/socket/qudpsocket.h
src/network/socket/socket.pri
src/network/ssl/
src/opengl/
src/openvg/
src/phonon/
src/plugins/
src/qbase.pri
src/qt3support/
src/qt_install.pri
src/qt_targets.pri
src/s60installs/
src/s60main/
src/script/
src/scripttools/
src/sql/
src/src.pro
src/svg/
src/testlib/
src/tools/
src/winmain/
src/xml/
src/xmlpatterns/
tools/
translations/
